* {
    box-sizing: border-box;
}

body[background] {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

body {
    overflow-x: hidden;
    padding: 10px;
    margin: 10px;
    align-content: center;
}

.stack {
    display: inline;
}

/*navbar*/
.nav-link {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 6vh;
    width: 8rem;
    background-color: #e9ecef;
    color: #6C757D;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

nav {
    position: absolute;
    background-color: #e9ecef;
    right: 0px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.nav-link li{
    list-style: none;
    opacity: 1; 
}

.nav-link a{
    color: #6C757D; 
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 17px;
}

.burger {
    display: block;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #28a745;
    margin: 4px;
}

/*jumbotron*/
.display {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
}
.lead {
    align-content: center;
    text-align: center;
}

.jumbotron {
    float: left;
    padding: 2rem 2rem;
    margin-top: 60px;
    width: 100%
}

img {
    float: left;
    padding: 10px;
}

.saira {
    font-family: 'Saira Condensed', sans-serif;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

p {
    padding: 2px;
}

.contact {
    margin-top: 20px;
}

aside {
    width: 100%;
    opacity: 0.8;
}

.nav-active {
    transform: translateX(0%);
}

/*form to enter contact information*/
form {
    width: 100%;
}

.form-group {
    padding: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #e9ecef;
    height: 3rem;
}

/*these rules take effect when the browser's width is 768px or more.*/
@media screen and (min-width: 768px) {
    .hide {
        display: block;
    }
    
    /*navbar*/
    .nav-link { 
        display: flex;
        justify-content: space-around;
        width: 35%;
        color: #6C757D;
        transform: translateX(0%);
        
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #e9ecef;
        z-index: 1;
    }
    
    .burger {
        display: none;
    }
    
    /*jumbotron*/
    .lead {
        align-content: center;
        text-align: center;
    }
    
    .jumbotron {
        float: left;
        margin-top: 50px;
        padding: 10px;
        width: 100%
    }
    
    .saira {
        font-family: 'Saira Condensed', sans-serif;
        padding: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        color: black;
    }
    
    /*aside containing my contact information*/
    aside {
        margin-left: 10px;
        width: 100%;
        opacity: 0.8;
    }
    
    .contact {
        margin-top: 50px;
    }
    
    /*form to enter contact information*/
    form {
        width: 100%;
    }
    
    .form-group {
        padding: 0px;
    }
    
    /*carousel containing project snapshots*/
    .carousel-caption {
        color: black;
        font-weight: bold;
    }
    
    div h5 {
        color: black;
        font-weight: bold;
    }

/*these rules take affect when the browsers width is 992px or more*/
@media screen and (min-width: 992px) {
    .hide {
        display: block;
    }

    body[background] {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.8;
    }

    /*navbar*/
    .nav-link { 
       display: block;
       transform: translateX(0%)
    }

    .burger {
        display: none;
    }

    /*aside containing my contact information*/
    aside {
        margin-left: 10px;
    }

    

    /*carousel containing project snapshots*/
    .carousel-caption {
        color: black;
        font-weight: bold;
    }

    div h5 {
        color: black;
        font-weight: bold;
    }