.nav-item {
    font-size: 24px;
}

.lead {
    text-align: center;
}

.jumbotron {
    float: left;
    margin-top: 100px;
    padding: 20px;
    width: 100%
}

.contact {
    margin-top: 100px;
}

.clearfix {
    clear: both;
}

nav {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    float: right;
    width: 100%;
    padding: 10px;
    background-color: white;
    z-index: 1;
}

h1 {
    float: left;
}

img {
    float: left;
    width: 50%;
    padding: 20px;
}

p {
    font-family: 'Saira Condensed', sans-serif;
    padding: 20px;
}

body[background] {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

form {
    width: 100%;
}


footer {
    margin-bottom: 40px;
    background-color: white;
}

#carouselExampleCaptions {
    height: 400px;
}

aside {
    margin-left: 5px;
    width: 100%;
    opacity: 0.8;
}

div h5 {
    color: black;
    font-weight: bold;
}

div p {
    color: black;
    font-weight: bold;
}

button {
    color: grey;
}


  /*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
    
      padding: 20px;
      margin: 20px;
    }
  
    /* The wrapper's width will be 600px */
    .container {
      width: 80%;
      padding: 20px;
      margin: 20px;
    }

    /*the nav bar will turn into a hamburger menu*/
    nav {
        
    }
  }

  /*
  These rules take effect when the browser's width
  is either 400px or less.
*/
@media screen and (max-width: 400px) {
    /* The body's bg color will be #333 */
    body {
        padding: 5px;
        margin: 5px;
    }
  
    /* The wrapper's width will be 300px */
    .container {
        width: 100%;
        padding: 5px;
        margin: 5px;
    }

    /*the nav bar will turn into a hamburger menu*/
    nav {
        content: collapse;
    }
  }


