.filter-wrapper {
  width: 80%;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 15px 10px 15px 10px;
}
.filter-tab {
  border-bottom: 2px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 1;
}
.filter-tab:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}
