.contact-form-icons {
    float: left;
    width: calc(2 * (100% / 5));
}

#code-icons {
    float: left;
    margin-left: 40%;
}

@media (max-width: 1300px) {
    #code-icons {
        display: none;
    }
}