#page-body {
    /* content: ""; */
    /* clear: both; */
    overflow: auto;
    /*display table prevents the scroll bar*/
    display: table;
    height: 80vh;
    width: 75%;
    margin: auto;
    padding: 20px;
    line-height: 32px;
    background-color: white;
    border: 1px solid red;
    text-align: center;
    box-shadow: 5px 10px 18px black;
    border-radius: 10px;
    font-family: 'Calibri';
    font-weight: bolder;
}