.contact-section {
    float: left;
    width: calc(2 * (100% / 5));
    background-color: transparent;
    color: black;
}

/*Form Styling*/
.form-control {
    width: 100% !important;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

form {
    margin: 0 auto !important;
    text-align: -webkit-center;
}
  
.form-group {
    justify-content: center;
}

#Button {
    margin: 10px;
    height: 55px;
    width: 150px;
    border-radius: 50%;
    font-size: 24px;
    /* text-align: center; */
    background-color: inherit;
    color: black;
    border: 3px solid #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

#Button:hover {
    background-color: antiquewhite;
    pointer-events: auto;
    font-size: 26px;
}

@media (max-width: 1300px) {
    .contact-section {
        width: calc(4 * (100% / 5));
    }
}

@media (max-width: 767px) {
    .form-control {
        margin-left: 0px;
    }
    .contact-section {
        margin-left: 0px;
        float: left;
        height: 90%;
        width: 100%;
    }
}