#bio {
    width: 100%;
    float: left;
}

.my-headshot {
    border-radius: 50%;
    shape-outside: ellipse();
    padding: 10px;
    height: 15em;
    float: left;
    box-shadow: inset(20px 50px 10px 0 round 50px);
}

@media (max-width: 415px) {
    .my-headshot {
        padding: 5px;
        height: 10em;
    }
}

@media (max-width: 321px) {
    .my-headshot {
        padding: 5px;
        height: 7em;
    }
}