.image-container {
    float: left;
    padding: 10px;
    width: 40%;
    text-align: center;
}

.my-headshot {
    border-radius: 50%;
    /* shape-outside: ellipse(); */
    padding: 10px;
    height: 15em;
    /* float: left; */
    box-shadow: inset(20px 50px 10px 0 round 50px);
}

.subheading-name {
    font-weight: bold;
    color: mediumturquoise;
    font-size: 2.10em;
    display: inline-block;
}

.subheading1 {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}

.subheading2 {
    font-size: 1.5em;
    color: maroon;
    display: inline-block;

}

.subheading3 {
    font-size: 1.25em;
    display: inline-block;

}

.bio-container {
        width: calc(4 * (100% / 5));
        float: left;
}

.about-container {
    width: 50%;
    float: left;
    text-align: center;
}

.about {
    width: auto;
}

@media (max-width: 950px) {
    .bio-container {
        width: calc(5 * (100% / 5));
}
    .image-container {
        float: none;
        width: 100%;
    }
    .about-container {
        width: 100%;
        float: left;
        text-align: center;
    }
}

@media (max-width: 415px) {
    .my-headshot {
        padding: 5px;
        height: 10em;
    }
}

@media (max-width: 321px) {
    .my-headshot {
        padding: 5px;
        height: 7em;
    }
}