
/*
class -> size
fa-xs .75em
fa-sm .875em
fa-lg 1.33em
fa-2x 2em
fa-3x 3em
fa-4x 4em
fa-5x 5em
fa-6x 6em
fa-7x 7em
fa-8x 8em
fa-9x 9em
fa-10x 10em
*/
span a {
    color: black;
    font-size: 2em;
    /* display: grid;
    grid-template-rows: auto; */  
}

.wrapper {
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;

}

.wrapper div {
    height: 50px;
}