.clearfix::after {
    content: " ";
    display: block;
    clear: both;
    border: black solid 1px;
}

.clearfix {
    margin: auto;
    width: 75%;
}

p {
    width: 20%;
    padding: 1%;
    font-family: 'Dekko';
  
}

.dateTime {
    float: left;
    font-size: 24px;
    color: black;
    margin: auto;
    border: 1px black solid;
}

@media (max-width: 1176px) {
    p {
        width: 25%;
    }
}

@media (max-width: 947px) {
    p {
        width: 30%;
    }
}

@media (max-width: 853px) {
    .dateTime {
        font-size: 18px;   
    }
    p {
        width: 30%;
        padding: 1%;  
    }
}
@media (max-width: 769px) {
    .dateTime {
        font-size: 20px;   
    }
}

@media (max-width: 689px) {
    .dateTime {
        font-size: 14px;   
    }
    p {
        width: 30%;
        padding: 1%;  
    }
}
@media (max-width: 528px) {
    
    p {
        width: 35%;
        padding: 1%;  
    }
}

@media (max-width: 376px) {
    p {
        width: 37%;
    }
}

@media (max-width: 361px) {
    p {
        width: 38%;
    }
}

@media (max-width: 321px) {
    p {
        width: 44%;
    }
}