
.wrapper {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto); */
}


.mern-icon {
    height: 24px;
}

.one {
    grid-template-columns: 1;
    grid-template-rows: 1;
}
.two {
    grid-template-columns: 2;
    grid-template-rows: 1;

}
.three {
    grid-column: 3;
    grid-row: 1;
}
.four {
    grid-column: 4;
    grid-row: 1;
}