
div.icon-wrapper {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
    max-width: 1000px;
}


.mern-icon {
    height: 48px;
    margin: auto;
}

.one {
    grid-template-columns: 1;
    grid-template-rows: 1;
    
}
.two {
    grid-template-columns: 2;
    grid-template-rows: 1;

}
.three {
    grid-column: 3;
    grid-row: 1;
    color: hsl(184, 78%, 53%) !important;
}
.four {
    grid-column: 4;
    grid-row: 1;
    color: #34d649 !important;
}

@media (max-width: 1280px) {
    .mern-icon {
        height: 30px;
        margin: auto;
    }
    
}

@media (max-width: 500px) {
    .mern-icon {
        height: 24px;
        margin: auto;
    }
    
}