.container {
    position: relative;
}

.home {
    font-size: 30px;
    overflow-wrap: break-word;
    text-align: center;
}

.heading {
    position: relative;
    width: calc(4 * (100% / 5));
    height: 10%;
    margin: 0px 0px 0px 20%;
    background-color: transparent;
    color: black;
    /* border: 1px solid black; */
    text-align: center;
}

aside {
    float: left;
    width: calc(100% / 5);
    background-color: white;
}

section {
    float: left;
    height: 90%;
    width: calc(4 * (100% / 5));
    background-color: transparent;
    color: black;
}

/*Form Styling*/
.form-control {
    width: 50% !important;
    margin-top: 10px;

  }

form {
    margin: 0 auto !important;
    text-align: -webkit-center;
}
  
.form-group {
    justify-content: center;
}

#Button {
    margin: 5px auto;
    font-size: 24px;
    text-align: left !important;
}

#four {
    background-color: inherit;
}

@media (max-width: 1400px) {
    .form-control {
        width: 80% !important;
        margin-top: 10px;
      }
}

@media (max-width: 768px) {
    .home {
        margin-top: 20px;
    }
    .form-control {
        width: 100% !important;
        margin-top: 10px;
      }
}

@media (max-width: 767px) {
    aside {
        width: 0%;
        height: 0%;
    }
    section {
        float: left;
        height: 90%;
        width: 100%;
        margin-left: 0px;
    }
}

@media (max-width: 541px) {
    .home {
        margin-left: 0px;
    }
}

@media (max-width: 415px) {
    .home {
        font-size: 20px;
        margin-left: 0px; 
    }
}