.container {
    position: relative;
}
.home {
    font-size: 30px;
    position: relative;
    /* margin-top: 10%; */
    overflow-wrap: break-word;
}
.heading {
    position: relative;
    width: calc(4 * (100% / 5));
    height: 10%;
    margin: 0px 0px 0px 20%;
    background-color: transparent;
    color: black;
    /* border: 1px solid black; */
    text-align: center;
}

aside {
    float: left;
    width: calc(100% / 5);
    height: 100%;
    /* border: 1px solid black; */
    background-color: white;
}

section {
    position: relative;
    float: left;
    height: 90%;
    width: calc(4 * (100% / 5));
    /* border: 1px solid black; */
    background-color: transparent;
    color: black;
}

/*Form Styling*/
.form-control {
    /* justify-content: center;
    align-items: center;
    justify-content: center !important; */
    width: 50% !important;
  }

form {
    margin: 0 auto !important;
    text-align: -webkit-center;
}
  
.form-group {
    justify-content: center;
}

#Button {
    margin: 5px auto;
    font-size: 24px;
}

#four {
    background-color: inherit;
}

@media (max-width: 1400px) {
    .home {
        /* margin-left: 60px; */
    }
}

@media (max-width: 768px) {
    .home {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    aside {
        width: 0%;
        height: 0%;
    }
    section {
        position: relative;
        float: left;
        height: 90%;
        width: 100%;
        margin-left: 0px;
        /* border: 1px solid black; */
    }
}

@media (max-width: 541px) {
    .home {
        margin-left: 0px;
    }
}

@media (max-width: 415px) {
    .home {
        font-size: 20px;
        margin-left: 0px; 
    }
}