.heading {
    position: relative;
    left: 20%;
    width: calc(4 * (100% / 5));
    height: 10%;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

aside {
    float: left;
    width: calc(100% / 5);
    height: 100%;
    border: 1px solid black;
    background-color: white;
}

section {
   position: relative;
    float: left;
    height: 90%;
    width: calc(4 * (100% / 5));
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

/*Form Styling*/
.form-control {
    /* justify-content: center;
    align-items: center;
    justify-content: center !important; */
    width: 50% !important;
  }

form {
    margin: 0 auto !important;
    text-align: -webkit-center;
}
  
.form-group {
    justify-content: center;
}

#Button {
    margin: 5px auto;
    font-size: 24px;
    font-family: monospace;
}

#four {
    background-color: inherit;
}