* {
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: column;
    margin: 10vh 5vw -10vh 5vw;
    min-height: 100vh;
}
body[background] {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}
body {
    overflow-x: hidden;
    align-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
aside {
    border-radius: 10%;
    margin-bottom: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: larger;
    text-align: center;
}
aside a {
    margin: 2px;
}
aside div .card {
    background-color: #e9ecef;
}
aside ul .list-group-item {
    background-color: #e9ecef;
}
aside ul li a {
    width: fit-content;
}
div.card.text-center {
    padding: 0px 15px 0px 15px;
    justify-self: start;
    width: 100%;
}
div.project-row {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.saira {
    font-family: 'Saira Condensed', sans-serif;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}
.sticker {
    padding: 0px;
    margin-right: 10px;
}

/*navbar*/
.nav-link {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 7vh;
    width: 8rem;
    background-color: #e9ecef;
    color: #6C757D;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}
nav {
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    background-color:#e9ecef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.nav-link li{
    list-style: none;
    opacity: 1; 
}
.nav-link a{
    color: #6C757D; 
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 17px;
}
.burger {
    display: block;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #28a745;
    margin: 4px;
}

/*jumbotron*/
.display {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
}
.lead {
    align-content: center;
    text-align: center;
}
.jumbotron {
    float: left;
    padding: 2rem 2rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
img {
    float: left;
    padding: 10px;
}
.nav-active {
    transform: translateX(0%);
}

div.jumbotron p.saira {
    font-size: larger;
}
p.card-text.saira {
    font-size: larger;
}

/*form to enter contact information*/
form {
    width: 100%;
}
.form-group {
    padding: 0px;
}

/*carousel containing project snapshots*/
.carousel-caption {
    color: black;
    font-weight: bold;
}

/*footer with link to top of page*/
footer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #800000;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div a {
    color: #6C757D;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: inline-start;
}
footer div p {
    display: inline;
    float: inline-end;
}
.portfolio-container {
    margin-left: 25px;
    margin-right: 25px;
}

/* sticky footer push divs */
.push-index-xs {
    height: 11vh;
}
.push-portfolio-xs {
    height: 23vh;
}
.push-contact-xs {
    height: 22vh;
}

/* these rules take effect when the browser's width is 400px or more */
@media screen and (min-width: 400px) {
    .push-index-xs {
        height: 12vh;
    }
    .push-portfolio-xs {
        height: 21vh;
    }
    .push-contact-xs {
        height: 22vh;
    }
    }

/*these rules take effect when the browser's width is 768px or more.*/
@media screen and (min-width: 768px) {
    .nav-link { 
        position: relative;
        top: 5px;
        right: 50px;
        height: 5vh;
        flex-direction: row;
    }
    .nav-link a {
        display: flex;
        width: 120px;
    }
    .badge {
        position: absolute;
        left: 50px;
        top: 5px;
    }
    .burger {
        display: none;
    }
    div.project-row {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 25px;
    }
}

/*these rules take affect when the browsers width is 992px or more*/
@media screen and (min-width: 992px) {
    /*navbar*/
    .nav-link {  
        right: 25px;
    } 
    .nav-link a {
        width: 130px;
    }
    div.project-row {
        display: grid;
    }
    .nav-link a{
        font-size: 20px;
    }

}

/* these rules take affect when the browsers width is 1200px or more */
@media screen and (min-width: 1200px) {
    .nav-link {
        right: -10px;
    }
    .nav-link a {
        width: 175px;
    }
    .push-index-lg {
        height: 12vh;
    }
    .push-contact-xs {
        height: 12vh;
    }
    .nav-link a{
        font-size: 24px;
    }

}