.card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    padding: 10px;
}

.card {
    overflow: auto;
    /*display table prevents the scroll bar*/
    display: table;
    overflow: auto;
    margin-bottom: 10px;
    max-width: 270px;
    width: 90%;
    background-color: black;
    color: white;
    box-shadow: 5px 10px 18px black;
    border-radius: 5px;
}

.card-title {
    height: 40px;
}

img {
    height: 110px;

}

a:hover {
    font-size: 16px;
}

.search {
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    line-height: 32px;
    box-shadow: 5px 10px 10px black;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
}

.input-container {
    position: relative;
    height: 84%;
}

.input-container .i {
    position: absolute;
    right: 17%;
    top: 20px;
    height: 10;
}

.search-span {
    padding: 15px;
    padding-left: 40px;
}

.card-text {
    width: 100%;
}

.project-wrapper {
    /* overflow: auto; */
    text-align: center;
}

.card-link {
    color: white;
}


@media (max-width: 768px) {
    .card-text {
        display: none;
    }

    .input-container .i {
        display: none;
    }


}