#page-body {
  overflow: auto;
  /*display table prevents the scroll bar*/
  display: table;
  height: 80vh;
  width: 75%;
  margin: auto;
  padding: 20px;
  /* line-height: 32px; */
  background-color: white;
  /* border: 1px solid red; */
  box-shadow: 5px 10px 18px black;
  border-radius: 10px;
  /* font-weight: bolder; */
  position: relative;
}

.teal:hover {
  border-bottom: 2px solid #7BDCB5;
}

.green:hover {
  border-bottom: 2px solid #00D084;
}

.light-blue:hover {
  border-bottom: 2px solid #8ED1FC;
}

.blue:hover {
  border-bottom: 2px solid #0693E3;
}

.gray:hover {
  border-bottom: 2px solid #ABB8C3;
}

.red:hover {
  border-bottom: 2px solid #EB144C;
}

.pink:hover {
  border-bottom: 2px solid #F78DA7;
}

.indigo:hover {
  border-bottom: 2px solid #9900EF;
}

.lime:hover {
  border-bottom: 2px solid #05F725;
}

.orange:hover {
  border-bottom: 2px solid #FCB900;
}


/*button hover styles*/
.teal-button:hover {
  border: 2px solid #7BDCB5;
}

.green-button:hover {
  border: 2px solid #00D084;
}

.light-blue-button:hover {
  border: 2px solid #8ED1FC;
}

.blue-button:hover {
  border: 2px solid #0693E3;
}

.gray-button:hover {
  border: 2px solid #ABB8C3;
}

.red-button:hover {
  border: 2px solid #EB144C;
}

.pink-button:hover {
  border: 2px solid #F78DA7;
}

.indigo-button:hover {
  border: 2px solid #9900EF;
}

.lime-button:hover {
  border: 2px solid #05F725;
}

.orange-button:hover {
  border: 2px solid #FCB900;
}