.nav-bar-main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 4rem;
}
.nav-link{
    color:black !important;
    background-color: white;
    font-family: 'Dekko';
    font-weight: bolder;
    font-size: 24px;
}