.nav-bar-main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link{
    color:black !important;
    background-color: white;
    font-family: monospace;
}