.nav-bar-main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
}
.nav-link {
    color:black !important;
    background-color: white;
    font-size: 24px;
}
.nav-link:hover {
    color:black !important;
    background-color: darkgrey;
    font-size: 26px;
}
.menu-button {
    display: none;
}




/*
https://www.google.com/search?q=how+to+make+an+animated+hamburger+menu&oq=how+to+build+a+hamburger+menu&aqs=chrome.2.69i57j0i22i30j0i390l2.11405j0j7&sourceid=chrome&ie=UTF-8#kpvalbx=_dsSTYZzpC7mkqtsP6vWk-A848
*/

/*We will use box-shadow property to make the dropdown menu look like a 'card'. We also use z-index to place the dropdown in front of other elements*/
@media (max-width: 767px) {
    .dropdown1 {
        position: relative;
        margin: auto;
    }

    .navbar-content {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        border-radius: 0.25rem;
        border: 1px solid black;
        background-color: white;
        min-width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
        z-index: 1;
        transform: translateY(-60px);
        transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    }

    .navbar-content .nav-link:hover {
        background-color: darkgray;
    }
    
    .menu-button {
        opacity: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        border: 3px solid #fff;
        /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
        border-radius: 0.25rem;

    }

    div.menu-button:hover {
        background-color: antiquewhite;
        pointer-events: auto;
    }

    .menu-button_burger {
        width: 40px;
        height: 6px;
        display: flex;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    
    .menu-button_burger::before,
    .menu-button_burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
        align-items: center;
    }
    
    .menu-button_burger::before {
        transform: translateY(-16px) ;
    }
    
    .menu-button_burger::after {
        transform: translateY(16px);
    }

    /* Show the dropdown menu (use JS to add this class to the dropdown-content container when the user clicks on the dropdown button)*/
    .show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

@media (max-width: 467px) {
    .menu-button {
        width: 40px;
        height: 40px;
    }
    
    .menu-button_burger {
        width: 30px;
        height: 6px;
    }
    
    .menu-button_burger::before,
    .menu-button_burger::after {
        width: 30px;
        height: 6px;
    }
    .nav-link{
        color:black !important;
        background-color: white;
        font-size: 20px;
    }
    .menu-button_burger::before {
        transform: translateY(-9px) ;
    }
    
    .menu-button_burger::after {
        transform: translateY(9px);
    }
    
}

@media (max-width: 321px) {
    .nav-bar-main{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2.5rem;
    }
}